/*
Copyright (C) 2017 Benjamin Letzel benjamin.letzel@protonmail.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 12.04.2017, 12:17:02
    Author     : Benjamin Letzel benjamin.letzel@protonmail.com
*/

.attribute-groups h3{
    border-bottom: 2px solid #ccc;
    font-size: 14pt;
    padding-bottom: 5px;
}

.attribute-groups table tr th {
    padding: 10px 10px;
    font-weight: 700;
    float: right;
}
.attribute-goups table tr td ul {
    list-style-position: inside;
    padding: 0;
}