<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
//$excluded = array(
//    'sku',
//    'lieferumfang_expertise',
//    'lieferumfang_papiere',
//    'lieferumfang_rechnung');
//$_data['value'] != 'N/A'
?>
<?php 
if ($_additionalgroup = $this->getAdditionalGroupedData()): ?>
    <div class="box-collateral box-additional attribute-groups">
        <?php $i = 0;
        foreach ($_additionalgroup as $_additional): $i++; ?>
            <h3><?php echo $_additional['title'] ?></h3>
            <table class="data-table" id="product-attribute-specs-table-<?php echo $i ?>">
                <col width="50%" />
                <col />
                <tbody>
        <?php foreach ($_additional['items'] as $_data): ?>
                    <?php if($_data['value'] != 'N/A' && $_data['value'] != ''):?>
                        <tr>
                            <th class="label"><?php echo $_data['label'] ?></th>
                            <td class="data">
                                <?php if ($_data['frontend_input_type'] == 'multiselect'): ?>
                                    <ul>
                                        <?php
                                        foreach (explode(',', $_data['value']) as $value) {
                                            ?>
                                            <li><?php echo $value; ?></li>
                                        <?php } ?>
                                    </ul>
                                <?php else: ?>
                                    <?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                                <?php endif; ?>


                            </td>
                        </tr>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endforeach; ?>

    </div>
<?php endif; ?>
